p {
    font-size: .8em;
    text-align: center;
    font-family: "Verdana";
}

h2 {
    height: 100%;
    text-align: center;
    color: black;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}